
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BSE Year 4</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <link rel="stylesheet" href="../styles/jquery-ui.min.css" type="text/css">
    <script src = "../js/jquery.min.js"></script>
    <script src = "../js/jquery-ui.min.js"></script>


  </head>
  <body>

<div class="ms2">

  <div class="main_2m">
  </div>
  <div class="temp">
    Temp-RH
  </div>
  <div class="i2c">
    i2c cable
  </div>


  <div class="batery">
Battery
  </div>
  <div class="boost">
Boost
  </div>
  <div class="panel">
Panel
  </div>


</div>

  </body>
  <script>
  $(function(){
    $('#ban').on('click','.opo', function(evt){
      $('.ms2').append("<img id = \"drag\" src = '"+evt.target.attributes[2].nodeValue+"' width='100' is_main ='"+evt.target.attributes[3].nodeValue+"' height='100' class = 'draggable running '/>");
      $( ".draggable" ).draggable({
          start: function(ex) {
              if($(this).hasClass('lastActive')){
                $(this).removeClass('lastActive').addClass('activeNow');
              }
              $(this).addClass('activeNow');
             },
         drag: function(ex) {
           var condi = ex.target.attributes[3].nodeValue;

            var c_hei = ex.target.attributes[4].nodeValue;

            if(collision($('.main_2m'), $(this)) && condi === "true"){
              $('.main_2m').addClass('touched');
              //console.log(__dimensions);
                ex.target.attributes[2].nodeValue = 200;
                ex.target.attributes[4].nodeValue = 250;
              $(this).removeClass('lastActive');


               //$('.main').offset().outerWidth(true);
             //console.log(c_wid);
            }else{
              $('.main_2m').removeClass('touched');
              ex.target.attributes[2].nodeValue = 100;
              ex.target.attributes[4].nodeValue = 100;
            }

        },
        stop: function() {
           $(this).removeClass('lastActive');
            $(this).removeClass('activeNow');

        }
      })
    });


  });

  </script>
</html>
