<div class="ms2">
  <div class="temp text-center" id="temp" is2meter = "true" style="display:inline-block; ">

    </div>


    <div class="main_2m" id="main_2m" is2meter = "true" >

      </div>
<div class="batery" id="batery" is2meter = "true">

 </div>

  <div class="boost" id="boost" is2meter = "true">

</div>

<div class="panel" id="panel" is2meter = "true">

</div>
<table class = "table owk">
  <tr><td>Right connections:</td><td id="rightcon"></td></tr>
<tr><td>wrong connections:</td><td id="wrong"></td></tr>
<tr><td>Percentages:</td><td id="perc"></td></tr>
<tr><td><button class = "btn btn-danger" id="percy">close</button></td><td><button class = "btn btn-info">right connection</button></td></tr>
</table>
<span class = "buttons">
<button class = "btn btn-warning" style="float: right;" id="clear">Clear</button>
<button class = "btn btn-primary" style="float: right;" id="award">Check out</button>
</span>
</div>


  <script>
  $(function(){
    /*
    this function loops through
     all the divs we have on the
      canvas and stores them into an array
      */


    $('#ban').on('click','.2MeterNode', function(evt){
//events that ar fired when an image on the dashboard is clicked
      evt.stopImmediatePropagation();
      $('.ms2').append("<img id = \"drag\" src = '"+evt.target.attributes[1].nodeValue+"' width='100' is_main ='"+evt.target.attributes[2].nodeValue+"' height='100' class = 'draggable running '/>");
      $( ".draggable" ).draggable({// setting the image properties to draggable

          start: function(ex) {
        // start events when dragging is about to start
              if($(this).hasClass('lastActive')){ //check if image has lastActive class
                $(this).removeClass('lastActive').addClass('activeNow');//remove it and add active class
              }
              $(this).addClass('activeNow');
             },
         drag: function(ex) {
             var starter = return_divs($('.ms2'), 'is2meter'); //returns all divs on the canvas
            for(var i = 0; i < starter.length; i++){
              //if image collides with main component div then... add touches class for green borders
              if(collision($('.main_2m'), $(this)) && $(this)[0].attributes[3].nodeValue){
                $('.main_2m').addClass('touched');
                //set image width to 200 and image height to 250
                  ex.target.attributes[2].nodeValue = 200;
                  ex.target.attributes[4].nodeValue = 250;

              }
              else if (collision($('.'+starter[i].classList[0]), $(this))){
                //if image collides with any div in array, then give it purple borders
                  $('.'+starter[i].classList[0]).addClass('pointed');
              }
              else{
                //else change back width and height to original 100px
                //remove the purple or green borders
                $('.'+starter[i].classList[0]).removeClass('touched').removeClass('pointed');
                ex.target.attributes[2].nodeValue = 100;
                ex.target.attributes[4].nodeValue = 100;
              }
            }

        },
        stop: function() {
          var points = [];
          //when dragging stops.......????
          var loopin = return_divs($('.ms2'), 'is2meter');// reference the divs array again
           $(this).removeClass('lastActive'); //remove purple, blue borders
            $(this).removeClass('activeNow');
              $(this).removeClass('pointed');

             //console.log($(this)[0].attributes[6].nodeValue);
            for(var i =0; i < loopin.length; i++){
              //loop through all the divs again to find if a div has an image
              if(collision($('#'+loopin[i].id), $(this))){
                 if($('#'+loopin[i].id).find('img').length){
                   $(this)[0].attributes[6].nodeValue = 0;
                     $('#'+loopin[i].id).removeClass('defaulty');
                   $('#'+loopin[i].id).empty().html($(this));
                 }else{

                   $('#'+loopin[i].id).html($(this)); //add image to this div
                   $('#'+loopin[i].id).removeClass('defaulty').removeClass('pointed');
                    $(this).css({'position': 'relative', 'top': 0, 'left': 0});//set css properties
                  // css props again

                 }
                }
              else{
                $('#'+loopin[i].id).removeClass('pointed');// remove purple borders
              }
            }
            $('.main_2m').removeClass('touched');//remove green bordres

            $('.canva').on('click', '.running', function(el){
              el.stopImmediatePropagation();
              if(points.length == 0){
                var x = el.pageX;
                var y = el.pageY;
                var points_ar = {};
                points_ar = {x,y};
                points.push(points_ar);
              }
              else if(points.length ==1){
                var x = el.clientX;
                var y = el.clientY;
                var parent = el.target.attributes[0].nodeValue;
                points.push(parent);
                var points_ar = {};
                points_ar = {x,y};

                points.push(points_ar);
                connect_images(points[0], points[2], points[1]);
                points.splice(0,points.length);

              }
          })
        }
      })
    });


$('#award').click(function(e){
 $('.ms2').each(function(e){
   // var results = [
   //   'images/sht25.png',
   //   'images/S2-PCB-front clear.png',
   //   'images/Li-ion capacitor2 clear.png',
   //   'images/DC Boost Converter.PNG',
   //   'images/solar panel 0.png'
   // ];

   // var sum = 0;
   // var total = favs.length;
   // var empties = [];

   //var divs = looper();
   //console.log(lines);
   // for (var i = 0; i < lines.length; i++) {
   //   if( collision($('#'+lines[i].id), $('#batery')) && $('#batery').hasClass('awosome') && collision($('#'+lines[i].id), $('#main_2m')) && $('#main_2m').hasClass('awosome')){
   //       $('#'+lines[i].id).css({'border': '1px solid green'});
   //   }
   //    else if ( collision($('#'+lines[i].id), $('#temp')) && $('#temp').hasClass('awosome') &&  collision($('#'+lines[i].id), $('#main_2m')) && $('#main_2m').hasClass('awosome')){
   //
   //    $('#'+lines[i].id).css({'border': '1px solid green'});
   //   }
   //
   //   else if($('#batery').hasClass('awosome') && collision($('#'+lines[i].id), $('#batery')) && $('#boost').hasClass('awosome') && collision($('#'+lines[i].id), $('#boost'))){
   //       $('#'+lines[i].id).css({'border': '1px solid green'});
   //   }
   //   else if($('#boost').hasClass('awosome') && collision($('#'+lines[i].id), $('#boost')) && $('#panel').hasClass('awosome') && collision($('#'+lines[i].id), $('#panel'))){
   //       $('#'+lines[i].id).css({'border': '1px solid green'});
   //   }
   //   else{
   //        $('#'+lines[i].id).css({'border': '1px solid red'});
   //   }
   //
   // }

  // $('#rightcon').text(sum);
  // $('#wrong').text(total-sum);
  //  var  percent = (sum/total)*100;
  // $('#perc').text(percent.toFixed(2)+"%");
  // percent<50? $('#perc').addClass('poor'):$('#perc').addClass('good')
  // $('.owk').show();
})
});

$('.ms2').on('dblclick', '.running', function(evt){
  //deleteItem(evt.target);
  $('#draggable').show();
  $('#del').click(function(){
      deleteItem(evt.target);
      $('#draggable').css({"display": "none"});
  })
})
$('#clear').click(function(){
  clearCanvas($('.ms2'));
})
$('.ms2').on('click', '.wire', function(e){
  alert('wired');
})
$('.ms2').on('click', '.drawer', function(el){
    deleteItem(el.target);
})

  });

  </script>
