<div>
  <div class  = "card">
    <div class="card-body">
      <div class="media border p-3">
  <img src="images/bread.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:210px; height: 200px;">
  <div class="media-body">
    <h4><b>Description </b></h4>
    <p class="lead">Low Power Gateway is a weather station device that does this and that....</p>
  </div>
</div>
<div class="row">
<div class="border mt-2 col-md-6">
<h4 class="text-center">Properties </h4>
<p class="lead text-center">
  djfrijgkfnvdklnfknfd dfjfdndfvnidojldjfvndfvs;kddfmffnd
</p>
</div>
<div class="border mt-2 col-md-6">
<h4 class="text-center">Purpose </h4>
<p class="lead text-center">
  djfrijgkfnvdklnfknfd dfjfdndfvnidojldjfvndfvs;kddfmffnd
</p>
</div>
</div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-block">More Details</button>
    </div>
  </div>

</div>

<script>
</script>
