<div class="ground_main">
  <div class="raingauge text-center" id="raingauge" isground = "true" style="display:inline-block; ">

    </div>

  <div class="pressure text-center" id="pressure" isground = "true" style="display:inline-block;">

    </div>
    <div class="main_2m_ground" id="main_2m_ground" isground = "true" >

      </div>
<div class="soil_temp" id="soil_temp" isground = "true">

 </div>
 <div class="soil_moist" id="soil_moist" isground = "true">

  </div>

  <div class="batery" id="battery" isground = "true">

</div>
<div class="boost" id="booster" isground = "true">

</div>

<div class="panel" id="panel_grond" is2meter = "true">

</div>
<table class = "table owk">
  <tr><td>Right connections:</td><td id="rightcon"></td></tr>
<tr><td>wrong connections:</td><td id="wrong"></td></tr>
<tr><td>Percentages:</td><td id="perc"></td></tr>
<tr><td><button class = "btn btn-danger">close</button></td><td><button class = "btn btn-info">right connection</button></td></tr>
</table>
<span class = "buttons">
<button class = "btn btn-warning clear" style="float: right;" >Clear</button>
<button class = "btn btn-primary award" style="float: right;" >Check out</button>
</span>
</div>
<script>
</script>
