
        <div id="img" class="movable">
            <img src="download.jpg" width="50" height="50"/>
        </div>
        <div id="img1" class="movable">
                <img src="download.jpg" width="50" height="50"/>
        </div>
        <div id="img2" class="movable">
                <img src="download.jpg" width="50" height="80"/>
        </div>
        
        <div id="line"></div>
            <p>

                <button type="button" onclick="start_pos()">Reset image</button>
                <button type="button" onclick="right()">image to the right</button>
            </p>
