<div class="ms2">









<table class = "table owk">
  <tr><td>Right connections:</td><td id="rightcon"></td></tr>
<tr><td>wrong connections:</td><td id="wrong"></td></tr>
<tr><td>Percentage:</td><td id="perc"></td></tr>
<tr><td><button class = "btn btn-danger">close</button></td><td></td></tr>
</table>

<button class = "btn btn-primary" style="float: right;" id="award">Check out</button>
</div>


  <script>
  $(function(){

var count = 0;
    $('#ban').on('click','.opo', function(evt){
      $('.ms2').append("<img id = 'drag"+count+"' src = '"+evt.target.attributes[2].nodeValue+"' width='100' is_main ='"+evt.target.attributes[3].nodeValue+"' height='100' class = 'draggable running '/>");
      count++;
      $( ".draggable" ).draggable({
          start: function(ex) {

              if($(this).hasClass('lastActive')){
                $(this).removeClass('lastActive').addClass('activeNow');
              }
              $(this).addClass('activeNow');


             },

         drag: function(ex) {




        },
        stop: function () {
          points = [];
           $(this).removeClass('lastActive');
            $(this).removeClass('activeNow');

            $('.main_2m').removeClass('touched');
              $('#boost').removeClass('pointed').addClass('defaulty');
              $('.ms2').on('click', '.running', function(el){
              el.stopImmediatePropagation();
              if(points.length == 0){
                var x = el.pageX;
                var y = el.pageY;

                var points_ar = {};
                points_ar = {x,y};
                points.push(points_ar);

              }
              else if(points.length ==1){
                var x = el.clientX;
                var y = el.clientY;
                var parent = el.target.attributes[0].nodeValue;
                console.log(parent);
                var points_ar = {};
                points_ar = {x,y};
                points.push(points_ar);
                points.push(parent);
                //console.log(points[1]);
                connect_images(points[0], points[1], points[2]);
                points.splice(0,points.length);
              }
          })

        }
      })
    });
    var mnet = document.getElementById('batery');
    var mnet2 = document.getElementById('boost');
    var pan= document.getElementById('main_2m');
    //connectVertical(mnet, mnet2, 'green', 3);
    //connectVertical(pan, mnet, 'green', 3);
$('#award').click(function(e){
 $('.ms2').each(function(e){
   var results = [
     'images/sht25.png',
     'images/i2c cable.png',
     'images/S2-PCB-front clear.png',
     'images/Li-ion capacitor2 clear.png',
     'images/DC Boost Converter.png',
     'images/solar panel 0.png'
   ];
   var favs = $(this).find('div');
   console.log(favs);
   var sum = 0;
   var total = favs.length;
   for(var x =0; x < favs.length; x++){
     if(favs[x].childNodes[0].attributes[1].nodeValue == results[x]){
       sum++
       $('.'+favs[x].classList[0]).removeClass('defaulty').removeClass('pointed').addClass('awosome');

     }else{
        $('.'+favs[x].classList[0]).removeClass('defaulty').removeClass('pointed').addClass('wrongie');
     }
   }
  $('#rightcon').text(sum);
  $('#wrong').text(total-sum);
   var  percent = (sum/total)*100;
  $('#perc').text(percent.toFixed(2)+"%");
  percent<50? $('#perc').addClass('poor'):$('#perc').addClass('good')
  $('.owk').show();
 })
})


  });

  </script>
