<div class="ms2">
<table class = "table owk">
  <tr><td>Expected connections:</td><td id="expectcon"></td></tr>
  <tr><td>Drawn:</td><td id="draw"></td></tr>
  <tr><td>Right connections:</td><td id="rightcon"></td></tr>
<tr><td>wrong connections:</td><td id="wrong"></td></tr>

<tr><td>Percentage:</td><td id="perc"></td></tr>
<tr><td><button class = "btn btn-danger">close</button></td><td></td></tr>
</table>

<span class = "buttons">
<button class = "btn btn-warning" style="float: right;" id="clear">Clear</button>&nbsp;
<button class = "btn btn-primary" style="float: right;" id="award">Check out</button>
</span>
</div>


  <script>
  $(function(){

var count = 0;
var counter =[];
    $('#ban').on('click','.opo', function(evt){
       evt.stopImmediatePropagation();
       if(evt.target.attributes[2].nodeValue.toString() == "true"){
         $('.ms2').append("<img id = 'drag"+count+"' src = '"+evt.target.attributes[1].nodeValue+"' width='200' is_main ='"+evt.target.attributes[2].nodeValue+"' height='250' class = 'draggable running '/>");
       }
       else{
        $('.ms2').append("<img id = 'drag"+count+"' src = '"+evt.target.attributes[1].nodeValue+"' width='100' is_main ='"+evt.target.attributes[2].nodeValue+"' height='100' class = 'draggable running '/>");
       }

      count++;
      $( ".draggable" ).draggable({
          start: function(ex) {
              if($(this).hasClass('lastActive')){
                $(this).removeClass('lastActive').addClass('activeNow');
              }
              $(this).addClass('activeNow');
              if(ex.target.attributes[3].nodeValue.toString() == "true"){

                ex.target.attributes[2].nodeValue=200;
                ex.target.attributes[4].nodeValue=250;
              }

             },

         drag: function(exc) {



         },
        stop: function () {
          points = [];
          offsets = [];
           $(this).removeClass('lastActive');
            $(this).removeClass('activeNow');

            $('.main_2m').removeClass('touched');
              $('#boost').removeClass('pointed').addClass('defaulty');
              $('.ms2').on('click', '.running', function(el){
              el.stopImmediatePropagation();
              if(points.length == 0){
                var x = el.pageX;
                var y = el.pageY;
                var x1 = el.pageX - $(this).offset().left;
                var y2 = el.pageY - $(this).offset().top;

                var panza = {x1,y2};
                counter.push(panza);

                var points_ar = {};
                points_ar = {x,y};
                points.push(points_ar);

              }
              else if(points.length ==1){
                var x = el.pageX;
                var y = el.pageY;
                var refre = $(this).offset().left;
                var x1 = el.pageX - $(this).offset().left;
                var y2 = el.pageY - $(this).offset().top;
                var parent = el.target.attributes[0].nodeValue;
                var panza = {x1, y2};
                counter.push(panza);
                var points_ar = {};
                points_ar = {x,y};
                points.push(points_ar);
                points.push(parent);

                connect_images(points[0], points[1], points[2]);
                points.splice(0,points.length);
              }
          })

        }
      })
    });


$('#award').click(function(e){


 $('.ms2').each(function(e){
   var results = [
     'images/sht25.png',
     'images/i2c cable.png',
     'images/S2-PCB-front clear.png',
     'images/Li-ion capacitor2 clear.png',
     'images/DC Boost Converter.png',
     'images/solar panel 0.png'
   ];
   var favs = $(this).find('img');
   var lines = $('[class = drawer]');

   var sum = 0;
   var total = favs.length;
   var pcb_id = null;
   var battery_id = null;
   var panel_id = null;
   var temp_id = null;
   var boost_id = null;

   for (var x = 0; x < total; x++) {
      if(favs[x].attributes[1].nodeValue == results[2]){
        pcb_id = $('#'+favs[x].id)
      }
      else if(favs[x].attributes[1].nodeValue == results[3]){
        battery_id = $('#'+favs[x].id)
      }
      else if(favs[x].attributes[1].nodeValue == results[5]){
        panel_id = $('#'+favs[x].id)
      }
      else if(favs[x].attributes[1].nodeValue == results[0]){
        temp_id = $('#'+favs[x].id)
      }
      else if(favs[x].attributes[1].nodeValue == results[4]){
        boost_id = $('#'+favs[x].id)
      }
   }
   var counter = 0;
   for (var i = 0; i < lines.length; i++) {

     // console.log(lines[i]);
     // if(colDetect(panel_id, $('#'+lines[i].id)) && colDetect(boost_id, $('#'+lines[i].id)) || colDetect(boost_id, $('#'+lines[i].id)) && colDetect(panel_id, $('#'+lines[i].id)) ){
     //    $('#'+lines[i].id).css({"border":"1px solid green"});
     // }

     // console.log(isOverlap(pcb_id, $('#'+lines[i].id)));
     //    console.log(isOverlap(battery_id, $('#'+lines[i].id)));
     //   console.log(isOverlap(boost_id, $('#'+lines[i].id)));
     //    console.log(isOverlap(panel_id, $('#'+lines[i].id)));
     //      console.log(isOverlap(temp_id, $('#'+lines[i].id)));
      if( pcb_id != null && colDetect(pcb_id, $('#'+lines[i].id)) && battery_id != null && !colDetect(battery_id, $('#'+lines[i].id))){

      var Xmin = pcb_id.offset().left+120;
      var Xmax = pcb_id.offset().left+149;
      var Ymin = pcb_id.offset().top+206;
      var Ymax = pcb_id.offset().top+188;
    if($('#'+lines[i].id).offset().left > Xmin && $('#'+lines[i].id).offset().left < Xmax && $('#'+lines[i].id).offset().top > Ymax && $('#'+lines[i].id).offset().top < Ymin){
      $('#'+lines[i].id).css({"border":"1px solid green"});
      counter++;
    }
    else{

        $('#'+lines[i].id).css({"border":"1px solid red"});
    }
    }
      else if(pcb_id != null && colDetect(pcb_id, $('#'+lines[i].id)) && temp_id != null && colDetect(temp_id, $('#'+lines[i].id))){
        var Xmin = pcb_id.offset().left+33;
        var Xmax = pcb_id.offset().left+44;
        var Ymin = pcb_id.offset().top+204;
        var Ymax = pcb_id.offset().top+173;
        var tespoint = $('#'+lines[i].id).offset().left + $('#'+lines[i].id).width();
      if(tespoint > Xmin && tespoint < Xmax ){
        $('#'+lines[i].id).css({"border":"1px solid green"});
        counter++;
      }
      else{
            console.log($('#'+lines[i].id).offset());

          $('#'+lines[i].id).css({"border":"1px solid red"});

      }
      }
      else if(battery_id != null && colDetect(battery_id, $('#'+lines[i].id)) && boost_id != null && colDetect(boost_id, $('#'+lines[i].id))){
        $('#'+lines[i].id).css({"border":"1px solid green"});
        counter++
        // console.log($('#'+lines[i].id).offset());
      }
      else if(boost_id != null && colDetect(boost_id, $('#'+lines[i].id)) && panel_id != null && colDetect(panel_id, $('#'+lines[i].id))){
        $('#'+lines[i].id).css({"border":"1px solid green"});
        counter++;
      }
      else{
          $('#'+lines[i].id).css({"border":"1px solid red"});
      }
   }
   var expect = 10;
    $('#expectcon').text(expect);
   $('#rightcon').text(counter);
  $('#wrong').text(lines.length-counter);
  $('#draw').text(lines.length);
   var  percent = (counter/expect)*100;
  $('#perc').text(percent.toFixed(2)+"%");
  percent<50? $('#perc').addClass('poor'):$('#perc').addClass('good')
  $('.owk').show();
 })
})

$('.ms2').on('dblclick', '.running', function(evt){
  //deleteItem(evt.target);
  $('#draggable').show();
  $('#del').click(function(){
      deleteItem(evt.target);
      $('#draggable').css({"display": "none"});
  })
});
$('.ms2').on('click', '.drawer', function(el){
    deleteItem(el.target);
});
$('#clear').click(function(){
  clearCanvas($('.ms2'));
})
  });

  </script>
