<div class="ms2">
  <div class="temp text-center" id="temp" is2meter = "true" style="display:inline-block; ">

    </div>

  <div class="i2c text-center" id="i2c" is2meter = "true" style="display:inline-block;">

    </div>
    <div class="main_2m" id="main_2m" is2meter = "true" >

      </div>
<div class="batery" id="batery" is2meter = "true">

 </div>

  <div class="boost" id="boost" is2meter = "true">

</div>

<div class="panel" id="panel" is2meter = "true">

</div>
<table class = "table owk">
  <tr><td>Right connections:</td><td id="rightcon"></td></tr>
<tr><td>wrong connections:</td><td id="wrong"></td></tr>
<tr><td>Percentage:</td><td id="perc"></td></tr>
<tr><td><button class = "btn btn-danger">close</button></td><td><button class = "btn btn-info">right connection</button></td></tr>
</table>
<span class = "buttons">
<button class = "btn btn-warning" style="float: right;" id="clear">Clear</button>
<button class = "btn btn-primary" style="float: right;" id="award">Check out</button>
</span>
</div>


  <script>
  $(function(){

    function looper(){
      var poc_arr = [];
      $('.ms2').each(function(evt){
        var tok = $(this.children);
        for(var i =0; i<tok.length; i++ ){
         if(tok[i].hasAttribute("is2meter")){
           poc_arr.push(tok[i]);
         }
        }
      })
      return poc_arr;
    }
    $('#ban').on('click','.opo', function(evt){

      $('.ms2').append("<img id = \"drag\" src = '"+evt.target.attributes[1].nodeValue+"' width='100' is_main ='"+evt.target.attributes[2].nodeValue+"' height='100' class = 'draggable running '/>");
      $( ".draggable" ).draggable({
          start: function(ex) {

              if($(this).hasClass('lastActive')){
                $(this).removeClass('lastActive').addClass('activeNow');
              }
              $(this).addClass('activeNow');
             },
         drag: function(ex) {
             var starter = looper();
           var condi = ex.target.attributes[3].nodeValue;
            var c_hei = ex.target.attributes[4].nodeValue;
            for(var i = 0; i < starter.length; i++){
              if(collision($('.'+starter[i].classList[0]), $(this)) && condi === "true"){
                $('.'+starter[i].classList[0]).addClass('touched');
                //console.log(__dimensions);
                  ex.target.attributes[2].nodeValue = 200;
                  ex.target.attributes[4].nodeValue = 250;

              }
            }


            // else if(){
            // }
            // else{
            //   $('.main_2m').removeClass('touched');
            //   ex.target.attributes[2].nodeValue = 100;
            //   ex.target.attributes[4].nodeValue = 100;
            // }

        },
        stop: function() {
          var loopin = looper();
           $(this).removeClass('lastActive');
            $(this).removeClass('activeNow');
            for(var i =0; i < loopin.length; i++){
              if(collision($('#'+loopin[i].id), $(this))){
                 if($('#'+loopin[i].id).find('img').length){
                  alert('img');
                 }else{
                    setDimensions($('#'+loopin[i].id),$(this));
                   $('#'+loopin[i].id).html($(this));


                 }
                }
              else{
                $('#'+loopin[i].id).removeClass('pointed').addClass('defaulty');
              }
            }
            $('.main_2m').removeClass('touched');
              $('#boost').removeClass('pointed').addClass('defaulty');

        }
      })
    });
    var mnet = document.getElementById('batery');
    var mnet2 = document.getElementById('boost');
    var pan= document.getElementById('main_2m');
    //connectVertical(mnet, mnet2, 'green', 3);
    //connectVertical(pan, mnet, 'green', 3);
$('#award').click(function(e){
 $('.ms2').each(function(e){
   var results = [
     'images/sht25.png',
     'images/i2c cable.png',
     'images/S2-PCB-front clear.png',
     'images/Li-ion capacitor2 clear.png',
     'images/DC Boost Converter.png',
     'images/solar panel 0.png'
   ];
   var favs = $(this).find('div');

   var sum = 0;
   var total = favs.length;
   var empties = [];
   for(var x =0; x < favs.length; x++){
     if(favs[x].children.length == 0){
       empties.push(favs[x]);

       for(var i =0; i< empties.length; i++){
          $('.'+empties[i].classList[0]).removeClass('defaulty').removeClass('pointed').addClass('dull').text("empty");
        }

       }

    else if(favs[x].childNodes[0].attributes[1].nodeValue == results[x]){
       sum++
       $('.'+favs[x].classList[0]).removeClass('defaulty').removeClass('pointed').addClass('awosome');

     }else{
        $('.'+favs[x].classList[0]).removeClass('defaulty').removeClass('pointed').addClass('wrongie');
     }

   }
  $('#rightcon').text(sum);
  $('#wrong').text(total-sum);
   var  percent = (sum/total)*100;
  $('#perc').text(percent.toFixed(2)+"%");
  percent<50? $('#perc').addClass('poor'):$('#perc').addClass('good')
  $('.owk').show();
 })
})

$('.ms2').on('dblclick', '.running', function(evt){
  //deleteItem(evt.target);
  $('#draggable').show();
  $('#del').click(function(){
      deleteItem(evt.target);
      $('#draggable').css({"display": "none"});
  })
})
$('#clear').click(function(){
  clearCanvas($('.ms2'));
})
  });

  </script>
