
    <div id="main" class="row">
        <!-- SIDE PANE FOR COMPONENTS-->
        <div class = "col-md-2 dash">
          <h6 class="text-center" style = "font-weight:bold;">Component Library</h6>
          <div class ="work">
            <table class = "table">
              <tbody id="ban">
  
              </tbody>
            </table>
          </div>
  
        </div>
        <!-- THE MAIN AREA WHERE CONTENT IS DISPLAYED -->
        <div class="col-md-10 canva">
          <div>
            <u><b><h5 class="text-center mt-5" style = "font-weight:bold;">WELCOME TO WIMEA-ICT AWS SETUP GUIDE</h5></b></u>
            <p class="lead text-center">Learn more about the automatic weather stations and how
              the different nodes can be assembled.</p>
            <p class="lead text-center">You can also try out assembling a node by choosing the node
                under manual assembly.</p>
            <div id="cava">
              <div class="mai" id='bus'>
              </div>
            </div>
          </div>
        </div>
      </div>